*jitfailure*
*__pycahce__*
**figures*
*.out*
*.log*
*simulation_log.txt
**.png
**.log
**.pvd
**.vtu
**.xdmf
**/M_*
**/nx*
**/mainMatin*
**/LBAC*
**/CA*
**/Lx*
**/increase_dt*
**/push*
**/fix_collision*
**/test*